client/src/com/github/dcal12/web_cache/client/clientProxy/cache.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cache.web_cache.dcal12.github.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cache.web_cache.dcal12.github.com/" name="CacheServerAppService">
<wsp:Policy wsu:Id="CacheServerAppPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://cache.web_cache.dcal12.github.com/" schemaLocation="http://localhost:9090/cache?xsd=1"/>
</xsd:schema>
</types>
<message name="listCachedFiles">
<part name="parameters" element="tns:listCachedFiles"/>
</message>
<message name="listCachedFilesResponse">
<part name="parameters" element="tns:listCachedFilesResponse"/>
</message>
<message name="listServerFiles">
<part name="parameters" element="tns:listServerFiles"/>
</message>
<message name="listServerFilesResponse">
<part name="parameters" element="tns:listServerFilesResponse"/>
</message>
<message name="downloadFile">
<part name="parameters" element="tns:downloadFile"/>
</message>
<message name="downloadFileResponse">
<part name="parameters" element="tns:downloadFileResponse"/>
</message>
<message name="getLog">
<part name="parameters" element="tns:getLog"/>
</message>
<message name="getLogResponse">
<part name="parameters" element="tns:getLogResponse"/>
</message>
<message name="clearLog">
<part name="parameters" element="tns:clearLog"/>
</message>
<message name="clearLogResponse">
<part name="parameters" element="tns:clearLogResponse"/>
</message>
<portType name="CacheServer">
<operation name="listCachedFiles">
<input wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/listCachedFilesRequest" message="tns:listCachedFiles"/>
<output wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/listCachedFilesResponse" message="tns:listCachedFilesResponse"/>
</operation>
<operation name="listServerFiles">
<input wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/listServerFilesRequest" message="tns:listServerFiles"/>
<output wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/listServerFilesResponse" message="tns:listServerFilesResponse"/>
</operation>
<operation name="downloadFile">
<input wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/downloadFileRequest" message="tns:downloadFile"/>
<output wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/downloadFileResponse" message="tns:downloadFileResponse"/>
</operation>
<operation name="getLog">
<input wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/getLogRequest" message="tns:getLog"/>
<output wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/getLogResponse" message="tns:getLogResponse"/>
</operation>
<operation name="clearLog">
<input wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/clearLogRequest" message="tns:clearLog"/>
<output wsam:Action="http://cache.web_cache.dcal12.github.com/CacheServer/clearLogResponse" message="tns:clearLogResponse"/>
</operation>
</portType>
<binding name="CacheServerAppPortBinding" type="tns:CacheServer">
<wsp:PolicyReference URI="#CacheServerAppPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listCachedFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listServerFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="downloadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CacheServerAppService">
<port name="CacheServerAppPort" binding="tns:CacheServerAppPortBinding">
<soap:address location="http://localhost:9090/cache"/>
</port>
</service>
</definitions>